<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="userProfileForm" #f (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control">
        <div *ngIf="userProfileForm.get('email')?.invalid && 
            (userProfileForm.get('email')?.dirty || userProfileForm.get('email')?.touched)" class="invalid-feedback">
          <div *ngIf="userProfileForm.get('email')?.errors?.required">Email is required</div>
          <div *ngIf="userProfileForm.get('email')?.errors?.pattern">Email validation failed</div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control">
        <div *ngIf="userProfileForm.get('firstName')?.invalid && 
            (userProfileForm.get('firstName')?.dirty || userProfileForm.get('firstName')?.touched)"
          class="invalid-feedback">
          <div *ngIf="userProfileForm.get('firstName')?.errors?.required">First Name is required</div>
          <div *ngIf="userProfileForm.get('firstName')?.errors?.pattern">First Name validation failed</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control">
        <div *ngIf="userProfileForm.get('lastName')?.invalid && 
            (userProfileForm.get('lastName')?.dirty || userProfileForm.get('lastName')?.touched)"
          class="invalid-feedback">
          <div *ngIf="userProfileForm.get('lastName')?.errors?.required">Last Name is required</div>
          <div *ngIf="userProfileForm.get('lastName')?.errors?.pattern">Last Name validation failed</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="userProfileForm.get('password')?.invalid && 
            (userProfileForm.get('password')?.dirty || userProfileForm.get('password')?.touched)"
          class="invalid-feedback">
          <div *ngIf="userProfileForm.get('password')?.errors?.required">Password is required</div>
          <div *ngIf="userProfileForm.get('password')?.errors?.minlength">Minimum length 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!userProfileForm.valid" class="btn btn-primary">
          Submit
        </button>
        <a routerLink="../../users" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
